* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(1vw + .8vh);
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

//Remove the input highlight color

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slider-contain {
  position: relative;
  display: grid;
  width: 100vw;
  top: 50%;
  padding: 2rem 0;
  transform: translateY(-50%);
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 90% 10%;
  background-color: #74B1FF;

  button {
    //The button automaticaly uses the entire height and width which makes pressing the button much easier
    background-color: transparent;
    border: 0;
    outline: 0;
    user-select: none;
    cursor: pointer;

    img {
      width: 3rem;
    }
  }

  .radios {
    grid-column: 2 / 2;
    justify-self: center;

    input {
      //You cant style the radios for all browsers so i just use a pseudo element and hide the radio itself
      visibility: hidden;
      margin: 0 .3rem;

      &::after {
        //Style it how you want
        content: '';
        display: block;
        background-color: #000;
        height: .5rem;
        width: .5rem;
        visibility: visible;
      }

      &:checked {

        &::after {
          background-color: #0070ff;
        }
      }
    }
  }

  .slider-slides {
    height: 22rem;
    max-height: 100%; //they sometimes get bigger than the grid they are in and block off the radios but max-height fixes it
    display: inline-grid;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .slide-parent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:nth-child(1) > .slide {
        background-image: url('img/nature.jpg');
      }
      &:nth-child(2) > .slide {
        background-image: url('img/nature2.jpg');
      }
      &:nth-child(3) > .slide {
        background-image: url('img/nature3.jpeg');
      }
      &:nth-child(4) > .slide {
        background-image: url('img/nature4.jpg');
      }
      &:nth-child(5) > .slide {
        background-image: url('img/nature5.jpg');
      }
      .slide {
        background-size: cover;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .25), -1px -1px 4px 0 rgba(0, 0, 0, .1);
        height: 12rem;
        width: 22rem;
        color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &:hover {
          .top {
            transform: translateY(0);
            h4 {
              opacity: 1;
              transition-delay: .8s;
            }
          }
          .bottom {
            transform: translateY(0);
            p {
              opacity: 1;
              transition-delay: .8s;
            }
          }
        }
        .top {
          transition: transform .8s;
          background-color: rgba(0, 112, 170, .95);
          width: 100%;
          height: 50%;
          display: inline-flex;
          align-items: flex-end;
          justify-content: center;
          font-size: 1.2rem;
          transform: translateY(-100%);
          h4 {
            opacity: 0;
            transition: opacity .8s;
          }
        }
        .bottom {
          transition: transform .8s;
          background-color: rgba(0, 112, 170, .95);
          width: 100%;
          height: 50%;
          text-align: center;
          transform: translateY(100%);
          p {
            font-size: 1rem;
            padding: .5rem 0 0 .5rem;
            opacity: 0;
            transition: opacity .8s;
          }
          a {
            font-size: .95rem;
            color: rgba(0, 0, 0, .5);
            text-decoration: none;
            padding-left: .5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  //You can make it responsive in javascript
  .slider-contain  {
    grid-template-columns: 20% 60% 20%;
  }
}

